body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("../image/dushi.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh; }
.container-fluid .text-menu {
    font-size: 25px;
    font-family: Roboto;
    color: #427bd0;
}
input{
    margin-left: 70px;
}
.container-fluid .text-menu:hover {
    background: #427bd0;
    color: white;
    font-style: unset; }
.vid{
    margin-top: 50px;
    margin-left: 130px;
}